<!--
  Table consisting of:
    - the attribute headers (id, name, and theater)
    - Entries of all existing plays, with delete buttons
-->
<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Theater</th>
  </tr>

  <ng-container *ngIf="plays.length > 0">
    <ng-container *ngFor="let play of plays">
      <tr>
        <td>{{ play.id }}</td>
        <td>{{ play.name }}</td>
        <td>{{ play.theater.name }}</td>
        <input type="button" value="Delete" (click)="DeletePlay(play.id)" />
      </tr>
    </ng-container>
  </ng-container>
</table>

<!--
  Select tag, with all existing theaters
  Text input to input play name
  'Add' button
-->

<input type="button" value="Add Play" (click)="GoToAdd()" />
