<!--
  Table consisting of:
    - the attribute headers (id, name)
    - Entries of all existing theaters, with delete buttons
-->
<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th></th>
  </tr>

  <ng-container *ngIf="theaters.length > 0">
    <ng-container *ngFor="let theater of theaters">
      <tr>
        <td>{{ theater.id }}</td>
        <td>{{ theater.name }}</td>
        <input
          type="button"
          value="Delete"
          (click)="deleteTheater(theater.id)"
        />
      </tr> </ng-container
  ></ng-container>

  <!--
    Text input to input theater name
    'Add' button
  -->
  <input type="text" [(ngModel)]="this.name" />
  <input type="button" value="Add" (click)="addTheater()" />
</table>
