<h1 *ngIf="play">{{ play.name }}</h1>

<!-- 
  Renders the theater's seats
  Assigns the class depending on the row and column
  when clicked, triggers "reservePlace" with row and column passed 
-->
<div *ngFor="let row of rows">
  <span class="rowtext">{{ row }}</span>
  <div
    [ngClass]="class(row + column)"
    class="seat"
    *ngFor="let column of columns"
    (click)="reservePlace(row + column)"
  >
    <span class="columntext" *ngIf="row == 'A'">{{ column }}</span>
  </div>
</div>

<!-- 
  Lists all the seats that have been selected,
  and renders button to submit these reservations
-->
<ng-container *ngIf="selectedSeats.length > 0">
  Selected Seats:
  <span *ngFor="let seat of selectedSeats">{{ seat.place }}, </span>
  <input type="button" value="Reserve" (click)="ReserveSeats()" />
</ng-container>
