<h1 *ngIf="play">{{ play.name }}</h1>

<div *ngFor="let row of rows">
  {{ row }}
  <div
    [ngClass]="class(row + column)"
    class="seat"
    *ngFor="let column of columns"
    (click)="triggerReservation(row + column)"
  ></div>
</div>

<div *ngIf="SelectedSeat">
  <p class="place">{{ SelectedSeat.place }}</p>
  <select name="decision" id="decision" [(ngModel)]="decision">
    <option value="confirmed">Confirm</option>
    <option value="rejected">Reject</option>
  </select>
  <input type="button" value="Submit" (click)="submitReservation()" />
</div>
