<h1 *ngIf="play">{{ play.name }}</h1>
<p>{{ play.description }}</p>
<p>{{ play.rows * play.columns - reservations.length }} places left</p>

<!-- 
  Renders the theater's seats
  Assigns the class depending on the row and column
  when clicked, triggers "triggerReservation" with row and column passed 
-->

<div style="display: inline-block">
  <div *ngFor="let row of rows">
    {{ row }}
    <div
      [ngClass]="class(row + column)"
      class="seat"
      *ngFor="let column of columns"
      (click)="triggerReservation(row + column)"
    >
      <span style="bottom: 25px; position: relative" *ngIf="row == 'A'">{{
        column
      }}</span>
    </div>
  </div>
</div>

<!-- 
  Is rendered if a seat is selected
  Shows the seat name, and a select box to choose whether to confirm or reject it
  Submit button, triggers submitReservation when clicked
-->
<div *ngIf="SelectedSeat" style="display: inline-block; vertical-align: top">
  <p class="place">
    {{ SelectedSeat.place }}
  </p>
  <p>
    {{ SelectedSeat.confirmed == "unconfirmed" ? "Requested" : "Reserved" }} by
    {{ SelectedSeat.user.email }}
  </p>
  <ng-container *ngIf="SelectedSeat.confirmed == 'unconfirmed'">
    <select name="decision" id="decision" [(ngModel)]="decision">
      <option value="confirmed">Confirm</option>
      <option value="rejected">Reject</option>
    </select>
    <input type="button" value="Submit" (click)="submitReservation()" />
  </ng-container>
</div>
